
$body-bg: #eef2f5;
$header-color: #517198;
// + Скрыть(активное меню)
$area-nav-color: #d3ebfe;
// + Цвет заголовка главного поста + Кнопка отправить
// + Номер почт отд + Aside desc val + Aside place title
$area-nav-bgcolor: #5f7fa6;
$main-account-color: #5f7fa6;
$main-account-status-color: #6e6e70;
$var-account-name-color: #464647;
// + Aside кнопка 
$my-profile-button-color: #8a95a2;
$my-profile-button-border-color: #dae0e5;
$acc-variant-hover-bg: #f3f6f7;
// + Цвет кнопки активного меню
$area-nav-bgcolor--active: #3c5c83;
$header-nav-bgcolor: #5b7ba2;
// + активный Таб + подчеркивание options + Цвет текста Singer
// Цвет текста имя документа + Тема голосования + Процент голосования
// Голосование число + checkbox + Голосование полоса + new comment active
// + Track-list count num + likes-list count num + Aside tabs active
// + text-content-link
$header-nav-bgcolor--active: #5ca2d3;
$new-acc-color-button: #5ca2d3;
// + Цвет текста все комментарии + Цвет текста комментария
// + Цвет текста репоста + Название песни + Документ
// + Голосование титл + Голосование лэйбл + Голосование футет
$address-name-color: #686868;
$address-color: #909192;
// + Цвет текста (Заоловок поста) + Цвет лайк + Имя комментатора
// + Кнопка ответить + Цвет комменты (лайк, дислайк)
// + Новый комментарий + Показать комментарии + place-holder(ответить)
// + Track-list 
$address-street-color: #6789a3;
// + Aside Поделиться + Aside panorama + Aside map btn
// + aside показать фото
$arrow-color: #899aaf;
$select-item-active-color: #5f7fa6;
// + Цвет подложки картинок
$scrollbar-color: #f4f4f4;
$scrollbar-color-bg: #ccd2d9;
// + цвет текста (Табы) + цвет текста (location)
// + Цвет счет голосования + Track-list count + likes-list count
// + Текст меню + Бургер
$options-color: #77889d;
// + Цвет текста (Заоловок поста: статус) + Имя комментатора (статус)
$options-add-button-bg: #97a5b5;
$tracking-counter-color: #848282;
$tracking-counter-color-num: #6cca58;
$all-comments-major-bg: #f6f6f6;
$comment-bg: #f9f9f9;
$comment-time-color: #8d9395;
$my-hover-color: #144d79;
$followers-text: #8d8d8d;
// + В избранном + Уведомления + мой Аватар
$followers-list-status: #f77b6f;
// + Places title
$aside-title: #383838;
// Aside desc
$aside-text-color: #828282;
$aside-city-color: #717171;
$aside-photo-num: #6dcb5a;
$desc-text: #959595;
$desc-text-bold: #767676;
$places-text: #8a8888;