@font-face {
  font-family: "Neris";
  src: local("neris black webfont"), local("neris-black-webfont"),
    url("..//fonts/neris-black-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Neris";
  src: local("neris light webfont"), local("neris-light-webfont"),
    url("..//fonts/neris-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Neris";
  src: local("neris semibold webfont"), local("neris-semibold-webfont"),
    url("..//fonts/neris-semibold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Neris";
  src: local("neris thin webfont"), local("neris-thin-webfont"),
    url("..//fonts/neris-thin-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("OpenSans Bold"), local("OpenSans-Bold"),
    url("..//fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("OpenSans BoldItalic"), local("OpenSans-BoldItalic"),
    url("..//fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("OpenSans ExtraBold"), local("OpenSans-ExtraBold"),
    url("..//fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("OpenSans ExtraBoldItalic"), local("OpenSans-ExtraBoldItalic"),
    url("..//fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("OpenSans Italic"), local("OpenSans-Italic"),
    url("..//fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("OpenSans Light"), local("OpenSans-Light"),
    url("..//fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("OpenSans LightItalic"), local("OpenSans-LightItalic"),
    url("..//fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("OpenSans Regular"), local("OpenSans-Regular"),
    url("..//fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("OpenSans Semibold"), local("OpenSans-Semibold"),
    url("..//fonts/OpenSans-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("OpenSans SemiboldItalic"), local("OpenSans-SemiboldItalic"),
    url("..//fonts/OpenSans-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
